html,
body{
  height: 100%;
}

body{
  @extend %dm-500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}


.container-max{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-min {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}



.title{
  font-size: 36px;
  line-height: 1.2;
  @extend %dm-700;
  color: $title-color;
  text-align: center;
}

.mixitup-control-active {
  color: $title-color;
}



.breadcrambs {
  display: flex;
  justify-content: center;
  &__list {
    display: inline-flex;
   

  }

  &__item{
    padding-right: 20px;
    position: relative;
     &::after {
       content: '';
       background-color: #000;
       position: absolute;
       top: 11px;
       right: 2px;
       width: 14px;
       height: 1px;
       background-color: rgba(#222933, 0.6);
       transform: rotate(102deg);
     }
      &:last-child {
        padding-right: 0;
        &::after{
          display: none;
        }
      }
     }
   
  &__link{
    opacity: 0.6;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(#222933, 0.6);
  }
}



.pagination{
  display: flex;
  justify-content: center;
  padding-top: 75px;
  
  &__list{
    display: flex;
  }
  &__item{
    margin-right: 15px;
  }
  &__link,
  &__next{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    height: 50px;
    border: 1px solid $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &--active{
      background-color: $accent-color;
      color: #fff;
    }
    
  }
  &__link{
    width: 50px;

  }
  &__next {
    width: 75px;
    }
  }