%dm-700 {
  font-family: 'DM Sans',
    sans-serif;
  font-weight: 700;
}

%dm-400 {
  font-family: 'DM Sans',
    sans-serif;
  font-weight: 400;
}

%dm-500 {
  font-family: 'DM Sans',
    sans-serif;
  font-weight: 500;
}

%rubik-500 {
  font-family: 'Rubik',
    sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik',
    sans-serif;
  font-weight: 400;
}

%footer-font {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
  @extend %rubik-400;
}

$menu-color: #436372;
$accent-color: #a3bbc8;
$link-color: #7b7b7b;
$title-color: #1a1a1a;