@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  padding: 20px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__img {
    display: inline-block;
  }

  &__span {
    font-size: 36px;
    line-height: 58px;
    color: $menu-color;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $menu-color;
    @extend %rubik-500;
  }
}

.header__menu{
  margin-left: auto;
  margin-right: 330px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  width: 318px;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link.user-nav__link--search {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #edf1f4;
  }

  &__img {
    position: absolute;
    max-width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__link-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 178px;
    height: 51px;
    border-radius: 26px;
    background-color: #fcd7b6;

    &::before {
      content: '';
      background-color: #fff;
      position: absolute;
      top: 9px;
      left: 50%;
      width: 1px;
      height: 31px;
    }
  }

  &__link.user-nav__link--dial {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }

  &__span {
    position: absolute;
    top: 8px;
    right: -18px;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: #243f4d;
    @extend %dm-400;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.footer {
  &__logo {
    margin-top: -35px;
    margin-bottom: 20px;
    display: block;
  }
}

.footer-top {
  padding: 95px 0 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $accent-color;
  &__contact,
  &__nav{
    width: 200px;
    
  }
  &__address,
  &__phone,
  &__email{
    @extend %footer-font;
    display: block;
  }
  &__address{
    margin-bottom: 10px;
  }
  &__phone {
    line-height: 32px; 
     margin-bottom: 15px;
  }

  

  &__nav {}

  &__title {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dm-700;
    text-transform: uppercase;
  }

  &__list {}

  &__list-item {}

  &__link {
    display: block;
    
     @extend %footer-font;
     line-height: 32px;
  }

  &__form {
    width: 270px;
  }
}



.footer-form {
  
  &__text {
     @extend %footer-font;
     margin-bottom: 30px;
  }
  

  &__input {
    
    border: none;
    padding: 10px;
    max-width: 170px;
    width: 100%;
    background-color: #fcd7b6;
    &::placeholder{
      font-size: 12px;
      @extend %dm-400;
      color: #234969;
    }
  }

  &__button {
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    @extend %dm-400;
    padding: 11px 18px 9px 16px;
    background-color: $accent-color;
    margin-left: -4px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__nav{

  }
  &__copy {
     @extend %footer-font;
  }
  &__nav-list {
    display: flex;
  }

  &__nav-item{
    
  }

  &__nav-item + .footer-bottom__nav-item {
    margin-left: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: #7b7b7b;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -15px;
      width: 1px;
      height: 23px;
    }
  }

  &__nav-ink {
     @extend %footer-font;
  }
}

.top-slider{
  
  &__top{
   
  }
  &__top-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  &__top-content{
     padding: 225px 15px 280px;
     max-width: 1170px;
     margin: 0 auto;
  }
  &__top-title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    @extend %rubik-500;
    margin-bottom: 45px;
    max-width: 415px;
  }
  &__top-text{
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: $menu-color;
    max-width: 370px;
    margin-bottom: 20px;
}
  &__top-btn{
    display: block;
    width: 200px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: $accent-color;
    padding: 24px 98px 24px 28px;
  }
}



@import 'media';