<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/about.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <div class="top-container">
        <h2 class="top__title">
          About Us
        </h2>
        <div class="breadcrambs">
          <ul class="breadcrambs__list">
            <li class="breadcrambs__item">
              <a class="breadcrambs__link" href="#">
              Home
            </a>
            </li>
            <li class="breadcrambs__item">
              <a class="breadcrambs__link" href="#">
                About Us
            </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container-min">
        <div class="about__inner">
          <img class="about__img" src="images/about_img.jpg" alt="about image">
          <div class="about__content">

            <div class="about__years">
              <div class="about__years-num">
                12
                </div>
              <ul class="about__years-list">
                <li class="about__years-item">Years</li>
                <li class="about__years-item">Expirience</li>
                <li class="about__years-item"> Working</li>
                </ul>
                </div>

                <div class="about__description">
                  <h2 class="about__title title">
                    Mission of our creative house
                  </h2>
                  <p class="about__text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  </p>
                </div>
                <div class="about__num">
                  <div class="about__num-item about__num-item--progects">
                    520+
                    <span class="about__num-span">
                      Projects
                    </span>
                  </div>
                  <div class="about__num-item about__num-item--revenue">
                    $4M
                    <span class="about__num-span">
                      Revenue
                    </span>
                  </div>
                  <div class="about__num-item about__num-item--awards">
                    250
                    <span class="about__num-span">
                      Awards
                    </span>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <div class="numbers">
        <div class="container-min">
          <div class="numbers__items">
            <div class="numbers__item numbers__item--rate">
              99%
              <span class="numbers__span">
                Satisﬁed Clients Rate
              </span>
            </div>
            <div class="numbers__item numbers__item--delivered">
              5020+
              <span class="numbers__span">
                Products Delivered
              </span>
            </div>
            <div class="numbers__item numbers__item--time">
              23hr
              <span class="numbers__span">
                Daily Working Time
              </span>
            </div>
            <div class="numbers__item numbers__item--brands">
              140+
              <span class="numbers__span">
                Brands in Store
              </span>
            </div>

          </div>
        </div>
      </div>
      <div class="team">
        <div class="container-min">
          <div class="team__inner">
            <div class="team__content">
              <h2 class="about__title title">
                Our Team
              </h2>
              <p class="about__text team__text">
                Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
                sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <a class="team__link" href="#">
                Join With US
              </a>
            </div>
            <div class="team__photos">
              <div class="team__photos-item">
                <img class="team__photo" src="images/team/1.jpg" alt="team photo">
                <div class="team__photo-descr">
                  <div class="team__member">
                    <a class="team__name" href="#">
                      Eliza Elliot
                    </a>
                    <div class="team__position">
                      Commodo tempor
                    </div>
                  </div>
                   <div class="team__social">
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/instagram.svg" alt="social icon">
                     </a>
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/google.svg" alt="social icon">
                     </a>
                   </div>
                </div>
              </div>
              <div class="team__photos-item">
                <img class="team__photo" src="images/team/2.jpg" alt="team photo">
                <div class="team__photo-descr">
                  <div class="team__member">
                    <a class="team__name" href="#">
                      Roscoe A.
                    </a>
                    <div class="team__position">
                      Commodo tempor
                    </div>
                  </div>
                  <div class="team__social">
                    <a class="team__social-link" href="#">
                      <img class="team__social-img" src="images/icon/instagram.svg" alt="social icon">
                    </a>
                    <a class="team__social-link" href="#">
                      <img class="team__social-img" src="images/icon/google.svg" alt="social icon">
                    </a>
                     </div>
                </div>
              </div>
              <div class="team__photos-item">
                <img class="team__photo" src="images/team/3.jpg" alt="team photo">
                <div class="team__photo-descr">
                  <div class="team__member">
                    <a class="team__name" href="#">
                      Ruby M.
                    </a>
                    <div class="team__position">
                      Commodo tempor
                    </div>
                  </div>
                   <div class="team__social">
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/instagram.svg" alt="social icon">
                     </a>
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/google.svg" alt="social icon">
                     </a>
                   </div>
                </div>
              </div>
              <div class="team__photos-item">
                <img class="team__photo" src="images/team/4.jpg" alt="team photo">
                <div class="team__photo-descr">
                  <div class="team__member">
                    <a class="team__name" href="#">
                      Marie F. Bloss
                    </a>
                    <div class="team__position">
                      Commodo tempor
                    </div>
                  </div>
                   <div class="team__social">
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/instagram.svg" alt="social icon">
                     </a>
                     <a class="team__social-link" href="#">
                       <img class="team__social-img" src="images/icon/google.svg" alt="social icon">
                     </a>
                   </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

 {% include 'app/module/_blog/_blog.html' %}
   {% include 'app/module/_partners/_partners.html' %}
  </main>

{% include 'app/module/_footer/_footer.html' %}


  <script src="js/main.min.js"></script>
</body>

</html>