<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/blog-one.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}


  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="blog-one blog-page">
      <div class="container-min">
        <div class="blog-one__inner blog-page__inner">
          <div class="blog-one__content blog-page__content">

            <div class="blog-one__item blog-page__item">
              <img class="blog-page__content-page" src="images/blog/page-1.jpg" alt="blog image">
              <div class="blog-page__content-info">
                <div class="blog-page__content-date">
                  28 JANUARY, 2020
                </div>
                <div class="blog-page__content-author">
                  BY ADMIN
                </div>
              </div>
              <h4>
                Fonsectetur adipisicing eiusmod
              </h4>
              <h6>
                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                venia Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              </h6>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              </p>
              <figure>
                <blockquote>
                  Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  veniam, quis nostrud exercitation ullamco laboris
                </blockquote>
                <figcaption>
                  Wiusmod tempor
                </figcaption>
              </figure>

              <div class="blog-one__box">
                <img class="blog-one__box-img" src="images/blog/blog-one.jpg" alt="">
                <div class="blog-one__box-text">
                  <h5>
                    Riusmod tempor incididunt
                  </h5>
                  <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>

              </div>
              <h5> Kajtsal jervcm eoaspckred</h5>
              <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="blog-one__wrapper">
              <img class="blog-one__wrapper-img" src="images/blog/photo.jpg" alt="author image">
              <div class="blog-one__wrapper-content">
                <div class="blog-one__person">
                  <div class="blog-one__person-name">
                    Mark N. Hernandez
                  </div>
                  <div class="blog-one__person-position">
                    Designer
                  </div>
                </div>
                <div class="blog-one__wrapper-info">
                  <div class="blog-one__wrapper-tags">
                    <span>Tags:</span>
                    <a class="blog-one__tags-link" href="#">All</a>,
                    <a class="blog-one__tags-link" href="#">Trending</a>

                  </div>
                  <div class="blog-one__wrapper-share">
                    <span>Share:</span>
                    <div class="blog-one__wrapper-social">
                      <a class="blog-one__wrapper-link" href="#">
                        <img class="blog-one__wrapper-icon" src="images/icon/blog-facebook.svg" alt="icon facebook">
                      </a>
                      <a class="blog-one__wrapper-link" href="#">
                        <img class="blog-one__wrapper-icon" src="images/icon/blog-twitter.svg" alt="icon twitter">
                      </a>
                      <a class="blog-one__wrapper-link" href="#">
                        <img class="blog-one__wrapper-icon" src="images/icon/blog-instagram.svg" alt="icon instagram">
                      </a>
                      <a class="blog-one__wrapper-link" href="#">
                        <img class="blog-one__wrapper-icon" src="images/icon/blog-google.svg" alt="icon google">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments">
              <h3 class="comments__title">
                3 Comments
              </h3>
              <div class="comments__items">
                <div class="comments__item">
                  <img class="comments__img" src="images/blog/avatar-1.jpg" alt="avatar">
                  <div class="comments__content">
                    <div class="comments__content-info">
                      <span class="comments__content-name">
                        Delores G. Roberts
                      </span>
                      <span class="comments__content-date">
                        Add 11 Oct 2020
                      </span>
                    </div>
                    <p class="comments__content-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                      convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                      himenaeos. Suspendisse orci sem, ultrices
                    </p>
                    <a class="comments__content-reply" href="#">
                      Reply
                    </a>
                  </div>
                </div>
                <div class="comments__item">
                  <img class="comments__img" src="images/blog/avatar-2.jpg" alt="avatar">
                  <div class="comments__content">
                    <div class="comments__content-info">
                      <span class="comments__content-name">
                        Shannon S. Williams
                      </span>
                      <span class="comments__content-date">
                        Add 11 Oct 2020
                      </span>
                    </div>
                    <p class="comments__content-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                      convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra
                    </p>
                    <a class="comments__content-reply" href="#">
                      Reply
                    </a>
                  </div>
                </div>
                <div class="comments__item">
                  <img class="comments__img" src="images/blog/avatar-3.jpg" alt="avatar">
                  <div class="comments__content">
                    <div class="comments__content-info">
                      <span class="comments__content-name">
                        Nicholas R. Coley
                      </span>
                      <span class="comments__content-date">
                        Add 11 Oct 2020
                      </span>
                    </div>
                    <p class="comments__content-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique
                      convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                      himenaeos. Suspendisse orci sem,
                    </p>
                    <a class="comments__content-reply" href="#">
                      Reply
                    </a>
                  </div>
                </div>
              </div>
              <div class="comments-form">
                <h3 class="comments-form__title">
                  Leave A Comment
                </h3>
                <form class="comments-form__form" action="#">

                  <input class="comments-form__input-name" type="text" placeholder="Name">
                  <input class="comments-form__input-mail comments-form__input--active" type="text"
                    placeholder="youremail@gmail.com">
                  <textarea class="comments-form__textarea" placeholder="Comment"></textarea>
                  <button class="comments-form__button" type="submit">
                    Post Comment
                  </button>
                </form>
              </div>
            </div>
          </div>


          <div class="blog-page__aside">
            <div class="blog-page__aside-item">
              <form class="blog-page__search-form" action="#">
                <input class="blog-page__search-input" type="text">
                <button class="blog-page__search-btn" type="submit">
                  <img src="images/icon/search-blog.svg" alt="search image">
                </button>
              </form>
            </div>
            <div class="blog-page__aside-item">
              <div class="filter__item filter-category">
                <h4 class="filter-category__title filter__title">
                  CATEGORY
                </h4>
                <form class="filter-category__form" action="#">

                  <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox" checked>
                    <div class="filter-category__checkbox">
                      <span>Chair</span>

                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                      <span>Table</span>

                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                      <span>Lamp</span>

                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                      <span>Watch</span>

                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                      <span>Clock</span>

                    </div>
                  </label>
                </form>
              </div>
            </div>
            <div class="blog-page__aside-item">
              <h4 class="blog-page__aside-title filter__title">
                Recent Posts
              </h4>
              <div class="blog-page__aside-posts">
                <div class="blog-page__aside-post">
                  <a class="blog-page__aside-img-link" href="#">
                    <img class="blog-page__aside-img" src="images/blog/post-1.jpg" alt="post image">
                  </a>
                  <div class="blog-page__aside-box">
                    <a class="blog-page__aside-post-title" href="#">
                      Corem ipsum dolor tetur adipisicing elit
                    </a>
                    <a class="blog-page__aside-post-date" href="#">
                      28 JANUARY, 2020
                    </a>
                  </div>


                </div>
                <div class="blog-page__aside-post">
                  <a class="blog-page__aside-img-link" href="#">
                    <img class="blog-page__aside-img" src="images/blog/post-2.jpg" alt="post image">
                  </a>

                  <div class="blog-page__aside-box">
                    <a class="blog-page__aside-post-title" href="#">
                      Fdipisicing elit, sed do eiusmod tempor
                    </a>
                    <a class="blog-page__aside-post-date" href="#">
                      28 JANUARY, 2020
                    </a>
                  </div>
                </div>

                <div class="blog-page__aside-post">
                  <a class="blog-page__aside-img-link" href="#">
                    <img class="blog-page__aside-img" src="images/blog/post-3.jpg" alt="post image">
                  </a>
                  <div class="blog-page__aside-box">
                    <a class="blog-page__aside-post-title" href="#">
                      Eonsectetur adipisicing elit, sed do eiusmod
                    </a>
                    <a class="blog-page__aside-post-date" href="#">
                      28 JANUARY, 2020
                    </a>
                  </div>

                </div>
                <div class="blog-page__aside-post">
                  <a class="blog-page__aside-img-link" href="#">
                    <img class="blog-page__aside-img" src="images/blog/post-4.jpg" alt="post image">
                  </a>
                  <div class="blog-page__aside-box">
                    <a class="blog-page__aside-post-title" href="#">
                      gnim ad minim veniam, quis nostrud
                    </a>
                    <a class="blog-page__aside-post-date" href="#">
                      28 JANUARY, 2020
                    </a>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
          </ul>
          <a class="pagination__next" href="#">NEXT</a>
        </div>

      </div>
      </div>
      </div>
    </section>




    {% include 'app/module/_partners--page/_partners--page.html' %}
  </main>

 {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>