.video {
  min-height: 500px;
  background: url('../images/video-bg.jpg') 50% 50%/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .video{
    min-height: 350px;
  }
}

@media (max-width: 375px) {
  .video {
    min-height: 250px;
  }
}